:root {
  --white-color-first: #f4f4fd;
  --black-color: #2e2f42;
  --black-color-second: #434455;
  --blue-color: #4d5ae5;
  --white-color: #ffffff;
  --background-color-button: #404bbf;
  --logo-weight: 500;
  --title-weight: 700;
  --logo-size: 16px;
  --logo-line-height: 1.5;
  --letter-spacing: 2%;
  --text-align: center;
  --title-size: 20px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--black-color-second);
  background-color: var(--white-color);
}

.logo {
  color: var(--blue-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}

.studio {
  color: var(--black-color);
}

.list {
  list-style: none;
}

.list-1 {
  font-weight: var(--logo-weight);
  font-size: var(--logo-size);
  line-height: var(--logo-line-height);
  letter-spacing: 0.02em;
  color: var(--black-color);
}

.link-first {
  color: var(--black-color);
}

.link-first:hover,
.link-first:focus {
  color: var(--background-color-button);
}

.address {
  font-style: normal;
}

.mail-tel {
  font-size: var(--logo-size);
  line-height: var(--logo-line-height);
  letter-spacing: 0.02em;
  color: #434455;
}

.mail-tel:hover,
.mail-tel:focus {
  color: var(--background-color-button);
}

.section-first {
  background-color: var(--black-color);
}

.title-h-first {
  font-weight: var(--title-weight);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: var(--text-align);
  color: var(--white-color);
}

.first-button {
  background-color: var(--blue-color);
  font-family: inherit;
  font-weight: var(--logo-weight);
  font-size: var(--logo-size);
  line-height: var(--logo-line-height);
  letter-spacing: 0.04em;
  color: var(--white-color);
  cursor: pointer;
  border: none;
}

.first-button:hover,
.first-button:focus {
  background-color: var(--background-color-button);
}

.title-h-second {
  color: var(--black-color);
  font-weight: var(--title-weight);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: var(--text-align);
  text-transform: capitalize;
}

.title-h-third-min {
  color: var(--black-color);
  font-weight: var(--logo-weight);
  font-size: var(--title-size);
  line-height: var(--logo-line-height);
  letter-spacing: 0.02em;
}

.text-p-min {
  line-height: var(--logo-line-height);
  letter-spacing: 0.02em;
}

.section-fourth {
  background-color: var(--white-color-first);
}

.class-li {
  background-color: var(--white-color);
}

.text-p-max {
  line-height: var(--logo-line-height);
  letter-spacing: 0.02em;
}

.footer {
  background-color: var(--black-color);
}

.footer-studio {
  color: var(--white-color-first);
}

.footer-text {
  color: var(--white-color-first);
  font-size: var(--logo-size);
  line-height: var(--logo-line-height);
  letter-spacing: 0.02em;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: var(--logo-weight);
  font-size: var(--logo-size);
  line-height: var(--logo-line-height);
  letter-spacing: 0.04em;
  color: var(--blue-color);
  background-color: var(--white-color-first);
  cursor: pointer;
  border: none;
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--background-color-button);
}

.h-second {
  font-weight: var(--logo-weight);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--black-color);
}

.portfolio-p {
  font-size: 16px;
  line-height: var(--logo-line-height);
  letter-spacing: 0.02em;
  color: var(--black-color-second);
}
